body{
    background-color: rgb(31, 31, 31)
}


#mybtn {
    
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(223, 119, 0);
    color: rgb(32, 32, 32);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: 1s;
  }
  
  #mybtn:hover {
    background-color: rgb(87, 146, 255);
    transition: 1s;
  }

  #entrada{
    width: auto;
    color: beige;
    height: 30vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.616); z-index: 1;
    background-size: cover;
    border:none;
    border-bottom: solid;
    border-color: rgb(199, 152, 0)
  }
   
  img{
      width: 100%;
      background:cover;
  }
  .container-fluid {
    text-align: center !important;
  }
  .card {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    position: relative;
    height: 300px;
    width: 220px;
    margin-top: 25px !important;

    display: inline-block;
    margin: 0 10px;
    background-color: rgb(31, 31, 31);
    box-shadow: -10px 10px 20px 2px rgba(17, 17, 17, 0.733);
    border: solid;
    border-color: orange;
    border-radius: 5px;
    transition: 0.5s;
  }
  .card:hover{
    border-color: rgb(255, 255, 255);
    transition: 0.5s;

  }
  .card .front,
  .card .back {
    overflow: hidden;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.7) 0 2px 6px -2px;
    background: rgb(51, 51, 51);
    border-radius: 5px;
    backface-visibility: hidden;
    background-color: #222;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    transition: all 0.3s ease-in-out;
  }
  .card .front {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center  center;
    transform: rotateY(0);
  

    z-index: 2;
  }
  .card .front .title {
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
  }
  .card .front .title h2 {
    color: rgb(255, 172, 78);
    margin: 0;
    padding: 0px;
    font-weight: 600;
    font-size: 25px;
  }
  .card .back {
    background: #333;
    transform: rotateY(-180deg);
    padding: 20px;
  }
  .card .back p {
    margin: 0 0 20px 0;
  }
  .card .back .btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
  .card .btn {
    padding: 10px;
    display: block;
    color: inherit;
    border: 1px solid rgb(194, 116, 0);
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
  }
  .card .btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    
  }
  .card:hover .front {
    transform: rotateY(180deg);
    
  }
  .card:hover .back {
    transform: rotateY(0);
    
  }






