@import url(https://fonts.googleapis.com/css?family=Acme&display=swap);
body{
    font-family: 'Acme', sans-serif;
  }

#nav_color{
    background-color: #242424;
    border: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color:#e68b03;
    height: 80px;
    padding: 0;
    margin: 0;
}
#search_box{
    position: absolute;
    left: 48%;
    background-color: #e68b03;
    height: 55px;
    border-radius: 30px;
    border: solid;
    border-color: #9e5f01;  
    
}
#search_input{
   
    padding: 10px;
    width: 0px;
    border: none; 
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 35px ;
    transition: 0.9s ;
}
#search_btn{
   
    padding: 10px;
    border-radius: 50%;
    color: #383838;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    margin-right: 9px;
}
#nav_inicio{
    color: #ffab2c !important;
    font-size: 20px;
    transition: 0.3s ;
    text-decoration: none !important;
    background-color: #242424;
    
  
    
      
}
#search_box :hover > #search_input {
    width: 180px;
    margin-left: 20px;
    transition: 0.9s;
}
#search_box :hover > #search_btn {
    background-color:#383838;
    color: #e68b03;
    transition: 0.9s ;
    
    
}

#nav_color :hover{
    
    transition: 0.3s ;

}
#nav_inicio :hover{
    color:  #b46c00;
    transition: 0.3s ;
}
.active{
    border: 1px solid;
    border-color: #ffab2c;
    transition: 0.3s ;
}
#items{
    border-radius: 10px;
    border:solid;
    border-color: rgba(255, 166, 0, 0);
    color: orange !important;
}
#items:hover{
    
    border-color: orange;
    
}

#cerrarsesion{
    color: orange !important;
    font-size: 20px;
}
#logo{
  
   width: 80px;
   height: 80px;
  
  }

  @media (max-width: 900px) {
    #nav_color{
        
        height: 100px;
       
    }

   
}
     
@media (max-width: 1000px) {
    #search_box :hover > #search_input {
        width: 70px;
        margin-left: 20px;
        transition: 0.9s;
    }
}

@media (max-width: 765px) {
    #navbarNavAltMarkup {
        border:solid;
      border-color: #e68b03;
    }
    #search_box{
        display: none;
    }
    #miname{
        display: none;
    }
}

    






