@import url(https://fonts.googleapis.com/css?family=Acme&display=swap);



body{
    background-color: rgb(31, 31, 31) !important;
    font-family: 'Acme', sans-serif;

}
#box_anime{
    background-color:  rgb(32, 32, 32) !important;
    border: solid;
    border-radius: 20px;
    color: rgb(228, 120, 51);
    border-color:  rgb(19, 19, 19);
    overflow: hidden;
    transition: 1s;
}
#box_episodio{
    background-color: rgb(32, 32, 32) !important;
    border:solid;
    border-color:  rgb(20, 20, 20);
    border-radius: 20px;
    transition: 1s;
    
}

#btn{
    padding: 15px;
    border-radius: 10px;
    background:rgb(61, 61, 61);
    border-color: rgb(31, 31, 31);
    color: rgb(240, 240, 240);
    background:rgb(12, 12, 12) ;
    margin-right: 9px;
    font-size: 20px;
  }
  
  #btn:hover{
    border-color: rgb(240, 240, 240);
    color: rgb(241, 90, 34);
   

  }

  #box_anime:hover{
    background-color:  rgb(19, 19, 19) !important;
    border: solid;
    border-color: rgb(241, 90, 34);
    overflow: hidden;
    transition: 1s;
}
#box_episodio:hover{
    background-color: rgb(19, 19, 19) !important;
    border-color: rgb(241, 90, 34);
    transition: 1s;
}

  img{
      border-radius: 10px;
      transition: transform .4s;
  }
  img:hover{
    transform: scale(1.1);
    transition: transform .4s;
}
#spans{
    color: rgb(255, 203, 5);
}